<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>حضور غیاب روزانه</title>
    <link rel="stylesheet" href="{% static 'css/persian-datepicker.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

    <style>
        body{
            direction:rtl;
            text-align:justify
        }
        .modal-container {
            overflow-y: auto;
          }
        
          
    </style>
</head>
<body>
 {% include 'myapp/personel/menu.html' %}
    <div class="container mt-5">
        <div id="part1">
            
            <div class="form-inline">
                <div class="form-group mb-2">
                    <label for="selected_date">انتخاب تاریخ</label>
                </div>
              
            </div>
            <div class="form-group">
               
                
            </div>
            <div class='form-group'>
                <div class="input-group-append d-flex justify-content-center">
                    <input type="text" class="form-control normal-example" id="selected_date" required readonly value='{{dt}}'>
 
                    <button id="nextBtn" class="btn btn-primary mx-1" style='background-color: #E8EAF6;
                    color: black;'> صبح</button>
                    <button id="button2" class="btn btn-secondary mx-1" style='background-color:#3F51B5
                    '>ظهر</button>
                    <button id="button3" class="btn btn-info mx-1" style='background-color:#1A237E'> شب</button>
                </div>
            </div>
            
        </div>
        
        <div id="part2" >
            {% comment %} <h2>Part 2 - Daily Attendance</h2> {% endcomment %}
            {% comment %} <h3>Date: <span id="selected_date_display"></span></h3> {% endcomment %}
            <form id="attendanceForm">
                <div class="table-responsive table-container">
                    <table class="table table-responsive-sm table-hover  table-bordered">
                        <thead>
                            <tr>
                                
                                <th class="fixed-column">نام</th>
                                <th>کد</th>
                                <th>سمت</th>
                                <th>حضور</th>
                                <th>استحقاقی</th>
                                <th>استعلاجی</th>
    
                                <th>ورود</th>
                                <th>خروج</th>
                                
                            </tr>
                        </thead>
                        <tbody id='tbody-company'> 
                            {% include 'myapp/personel/partialattview.html' %}
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-primary fixed" id='btn-send'>ارسال</button>
                    
                </div>
               
            </form>
            <div class="modal fade" id="modal-company">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">عنوان</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <p>لطفا چند لحظه صبر نمایید</p>
                            <button type="button" class="btn btn-danger light" data-dismiss="modal">
                                بستن
                            </button>
                            <button type="button" class="btn btn-primary">دخیره</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    <script src="{% static 'js/project/calendar/persian-date.js' %}"></script>
      
    <script src="{% static 'js/project/calendar/persian-datepicker.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/project/att.js'  %}" ></script>

   
</body>
</html>
