<!--pip install django-widget-tweaks-->
<!--pip install django-widget-tweaks-->
{% extends 'myapp/index.html' %}
{% load widget_tweaks %}
 {% block content %}
{% load static %}

<div class="row">
    <div class="col-xl-12 col-xxl-12 col-lg-12">
        <div class="row">

            <form action="{% url 'create_profile' %}" method='POST'>
                {% csrf_token %}
            <div class="col-xl-12">
                <div class="card profile-card">
                    <div class="card-header flex-wrap border-0 pb-0">
                        <h3 class="fs-24 text-black font-w600 mr-auto mb-2 pr-3">ویرایش پروفایل</h3>
                        <div class="d-sm-flex d-block">
                            <div class="d-flex mr-5 align-items-center mb-2">
                                <div class="custom-control custom-switch toggle-switch text-right">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1">
                                        فعال
                                    </label>
                                </div>
                            </div>
                            <a href="{% url 'list_personel' %}" class="btn btn-dark light btn-rounded mr-3 mb-2">کنسل</a>
                            <input  class="btn btn-primary btn-rounded mb-2" type='submit' value='ذخیره'/>
                        </div>
                    </div>
                    <div class="card-body">

                            <div class="mb-5">
                                <div class="title mb-4"><span
                                        class="fs-18 text-black font-w600">اطلاعات</span></div>
                                <div class="row">
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>نام</label>
                                            <!-- <input type="text" class="form-control"
                                                   placeholder="نام را وارد کنید"> -->
                                                     {% render_field form.FName class='form-control' placeholder="نام را وارد کنید" %}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>نام خانوادگی</label>
                                            <!-- <input type="text" class="form-control" placeholder="نام مستعار را وارد کنید"> -->
                                            {% render_field form.LName class='form-control' placeholder='نام خانوادگی' %}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>سالن</label>
                                            {% render_field form.saloon class='form-control style1'  %}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>نام سرشیفت</label>
                                            {% render_field form.manager class='form-control'  %}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>کد پرسنلی</label>
                                            {% render_field form.PNumber class='form-control' placeholder='کد پرسنلی' %}


                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>کد ملی </label>
                                            {% render_field form.NCode class='form-control' placeholder='کد ملی' %}

                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>عنوان شغل </label>
                                            {% render_field form.title class='form-control' placeholder='کد ملی' %}

                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>وضعیت </label>
                                            {% render_field form.isActive %}

                                        </div>
                                    </div>
                                </div>
                            </div>


                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>

</div>

{% load static %}

{% block javascript %}

<!-- Chart piety plugin files -->
<!-- Apex Chart -->
<script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/wnumb/wnumb.js' %}"></script>
<!-- Dashboard 1 -->
<script src="{% static 'js/dashboard/profile.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".toogle-bx").click(function () {
            $(".toogle-bx").toggleClass("active");
        });
    });
</script>

{% endblock %}
{% endblock %}
