
<tr>
    <td>تعداد پرسنل موجود در لیست</td>
    <td>
      {{personnel_list.0.personel_count}}
    </td>
    <td>{{personnel_list.1.personel_count}}</td>
    <td>  {{personnel_list.2.personel_count}}
    </td>

</tr>
<tr>
    <td>تعداد پرسنل مرخصی غیبت استعلاجی</td>
    <td>
      {{personnel_list.0.abset_count}}
    </td>
    <td>{{personnel_list.1.abset_count}}</td>
    <td>  {{personnel_list.2.abset_count}}
    </td>

</tr>
<tr>
    <td>اضافه کار استفاده شده بر حسب ساعت</td>
    <td>
      {{personnel_list.0.ezafe_kar}}
    </td>
    <td>  {{personnel_list.1.ezafe_kar}}</td>
    <td>  {{personnel_list.2.ezafe_kar}}
    </td>

</tr>
