{% for personnel in personnel_list %}
<tr data-url={{personnel.person.id}} class='data-row'>
    <td>
        {{ forloop.counter }}
    </td>
    <td>{{ personnel.person.FName }} {{personnel.person.LName}}</td>
    <td>{{ personnel.person.PNumber }}</td>
    <td>{{personnel.get_title_display}}</td>
    <td>{% autoescape off %}{{personnel.get_hozur}}{% endautoescape %}</td>
    <td>{% autoescape off %}{{personnel.get_estehghaghi}}{% endautoescape %}</td>

    <td>{% autoescape off %}{{personnel.get_estelaji}}{% endautoescape %}</td>
   
    <td>{{personnel.incom_time|time:'G:i:s'}}</td>
    <td>{{personnel.outcome_time|time:'G:i:s'}}</td>
</tr>
{% endfor %}