{% for personnel in personnel_list %}
                            <tr data-url={{personnel.id}} class='data-row'>
                                <td class="fixed-column">{{ personnel.FName }} {{personnel.LName}}</td>
                                <td>{{ personnel.PNumber }}</td>
                                <td> <label class="form-control titletxt" data-val={{personnel.title|default_if_none:"--"}}  data-url='/Hozur/GetTitles/?id={{personnel.id}}' name="titletxt">{{personnel.get_title_display|default_if_none:"--"}}</label> </td>
                                <td>
                                    <div class="custom-control custom-checkbox checkbox-info check-lg mr-3">
                                        <input type="checkbox" class="custom-control-input row-checkbox" checked name="absent_{{ personnel.id }}" id="absent_{{ personnel.id }}">
                                        <label class="custom-control-label" for="absent_{{ personnel.id }}"></label>
                                    </div>
                                </td>
                                    
                                    {% comment %} <input type="checkbox" class='form-control row-checkbox' checked name="absent_{{ personnel.code }}"></td> {% endcomment %}
                                <td>
                                    <div class="custom-control custom-checkbox checkbox-info check-lg mr-3">
                                        <input type="checkbox" class="custom-control-input row-checkbox" name="estehghaghi_{{ personnel.id }}" id="estehghaghi_{{ personnel.id }}">
                                        <label class="custom-control-label" for="estehghaghi_{{ personnel.id }}"></label>
                                    </div>

                                    
                                    {% comment %} <input type="checkbox"  class='form-control row-checkbox' name="estehghaghi_{{ personnel.code }}"></td> {% endcomment %}
                                </td>
    
                                <td>
                                    <div class="custom-control custom-checkbox checkbox-info check-lg mr-3">
                                        <input type="checkbox" class="custom-control-input row-checkbox" name="estelaji_{{ personnel.id }}" id="estelaji_{{ personnel.id }}">
                                        <label class="custom-control-label" for="estelaji_{{ personnel.id }}"></label>
                                    </div>
                                    {% comment %} <input type="checkbox"   class='form-control row-checkbox'name="estelaji_{{ personnel.code }}"></td> {% endcomment %}
                                </td>
    
                                <td><input type="time" name="in_time_{{ personnel.code }}" step="60"></td>
                                <td><input type="time" name="out_time_{{ personnel.code }}" step="60"></td>
                               
                            </tr>
                            {% endfor %}