<div id="hozurform" method="post" action="{% url 'hozur_create' %}" class="js-hozur-create-form" >
    {% csrf_token %}
    <div class="modal-header " style="background:#ccc">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">جدید</h4>
    </div>
    <div class="modal-body">
     {% include 'myapp/personel/partialHozurForm.html' %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">انصراف</button>
      <button type="button" class="btn btn-primary js-add-to-table" >ذخیره</button>
    </div>
</div>
  