<tr>
    <td>پروژه شماره 1</td>
    <td>
        <div class="progress bgl-primary">
            <div class="progress-bar bg-primary" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
            </div>
        </div>
    </td>
    <td>26 شهریور</td>
    <td><span class="badge badge-primary light">70%</span>
    </td>
    <td>
                <span>
                    <a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted"></i> </a>
                    <a href="javascript:void()" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a>
                </span>
    </td>
</tr>
<tr>
    <td>پروژه شماره 2</td>
    <td>
        <div class="progress bgl-success">
            <div class="progress-bar bg-success" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
            </div>
        </div>
    </td>
    <td>23 شهریور</td>
    <td><span class="badge badge-success">70%</span>
    </td>
    <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted"></i> </a><a href="javascript:void()" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
    </td>
</tr>
<tr>
    <td>پروژه شماره 3</td>
    <td>
        <div class="progress bgl-dark">
            <div class="progress-bar bg-dark" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
            </div>
        </div>
    </td>
    <td>19 شهریور</td>
    <td><span class="badge badge-dark light">70%</span>
    </td>
    <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted"></i> </a><a href="javascript:void()" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
    </td>
</tr>
<tr>
    <td>پروژه شماره 4</td>
    <td>
        <div class="progress bgl-danger">
            <div class="progress-bar bg-danger" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
            </div>
        </div>
    </td>
    <td>16 شهریور</td>
    <td><span class="badge badge-danger">70%</span>
    </td>
    <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted"></i> </a><a href="javascript:void()" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
    </td>
</tr>
<tr>
    <td>پروژه شماره 5</td>
    <td>
        <div class="progress bgl-warning">
            <div class="progress-bar bg-warning" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
            </div>
        </div>
    </td>
    <td>9 شهریور</td>
    <td><span class="badge badge-warning">70%</span>
    </td>
    <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted"></i> </a><a href="javascript:void()" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a></span>
    </td>
</tr>
