<!--pip install django-widget-tweaks-->
<!--pip install django-widget-tweaks-->
{% extends 'myapp/index.html' %}
{% load widget_tweaks %}
 {% block content %}
{% load static %}

<div class="row">
    <div class="col-xl-12 col-xxl-12 col-lg-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="card profile-card">
                    <div class="card-header flex-wrap border-0 pb-0">
                        <h3 class="fs-24 text-black font-w600 mr-auto mb-2 pr-3">ویرایش پروفایل</h3>
                        <div class="d-sm-flex d-block">
                            <div class="d-flex mr-5 align-items-center mb-2">
                                <div class="custom-control custom-switch toggle-switch text-right">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                    <label class="custom-control-label" for="customSwitch1">
                                        آماده اید برای کار ؟
                                    </label>
                                </div>
                            </div>
                            <a href="#" class="btn btn-dark light btn-rounded mr-3 mb-2">کنسل</a>
                            <a class="btn btn-primary btn-rounded mb-2" href="#">ذخیره </a>
                        </div>
                    </div>
                    <div class="card-body">
                      {% csrf_token %}
                        <form action="">
                            <div class="mb-5">
                                <div class="title mb-4"><span
                                        class="fs-18 text-black font-w600">اطلاعات</span></div>
                                <div class="row">
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>نام</label>
                                            <!-- <input type="text" class="form-control"
                                                   placeholder="نام را وارد کنید"> -->
                                                     {% render_field form.LName class='form-control' %}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>نام خانوادگی</label>
                                            <!-- <input type="text" class="form-control" placeholder="نام مستعار را وارد کنید"> -->
                                            {% render_field form.FName class='form-control' placeholder='نام مستعار را وارد کنید' %}
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>نام خانوادگی</label>
                                            <input type="text" class="form-control" placeholder="نام خانوادگی را وارد کنید">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>نام کاربری</label>
                                            <input type="text" class="form-control" placeholder="نام کاربری را وارد">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>پسورد</label>
                                            <input type="password" class="form-control"
                                                   placeholder="پسورد را وارد کنید">
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>تکرار پسورد</label>
                                            <input type="password" class="form-control"
                                                   placeholder="مجددا پسورد را وارد کنید">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <div class="title mb-4"><span
                                        class="fs-18 text-black font-w600">ارتباط</span></div>
                                <div class="row">
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>تلفن همراه</label>
                                            <div class="input-group input-icon mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1"><i
                                                            class="fa fa-phone"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                                <input type="text" class="form-control"
                                                       placeholder="شماره تماس را وارد کنید">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>واتساپ</label>
                                            <div class="input-group input-icon mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon2"><i
                                                            class="fa fa-whatsapp"
                                                            aria-hidden="true"></i></span>
                                                </div>
                                                <input type="text" class="form-control"
                                                       placeholder="شماره تلفن واتساپ">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>ایمیل</label>
                                            <div class="input-group input-icon mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3"><i
                                                            class="las la-envelope"></i></span>
                                                </div>
                                                <input type="text" class="form-control"
                                                       placeholder="ایمیل را وارد کنید">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>آدرس</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control"
                                                       placeholder="آدرس را وارد کنید">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>شهر</label>
                                            <select class="form-control">
                                                <option>تهران</option>
                                                <option>شیراز</option>
                                                <option>مشهد</option>
                                                <option>قزوین</option>
                                                <option>اصفهان</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-sm-6">
                                        <div class="form-group">
                                            <label>کشور</label>
                                            <select class="form-control">
                                                <option>ایران</option>
                                                <option>انگلیس</option>
                                                <option>ترکیه</option>
                                                <option>آمریکا</option>
                                                <option>آلمان</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <div class="title mb-4"><span
                                        class="fs-18 text-black font-w600">تصاویر</span></div>
                                <div class="row">
                                    
                                        {% for c in pics%}
                                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="new-arrival-product">
                                                        <div class="new-arrivals-img-contnent">
                                                            <img class="img-fluid" src="../../media/{{c.msgFile}}" alt="">
                                                        </div>
                                                        <div class="new-arrival-content text-center mt-3">
                                                        
                                                            <h4><a href="../../media/{{c.msgFile}}" target="_blank">{{c.msgFileName}}</a></h4>
                                                          
                                                            
                                                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                    
                                </div>
                            </div>
                            <div>
                                <div class="title mb-4"><span
                                        class="fs-18 text-black font-w600">تخصص ها</span></div>
                                <div class="row">
                                    <div class="col-xl-6">
                                        <div class="media mb-4">
                                            <span class="text-primary progress-icon mr-3">78%</span>
                                            <div class="media-body">
                                                <p class="font-w500">برنامه نویسی</p>
                                                <div class="progress skill-progress" style="height:10px;">
                                                    <div class="progress-bar bg-primary progress-animated"
                                                         style="width: 78%; height:10px;"
                                                         role="progressbar">
                                                        <span class="sr-only">78% کامل </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="media mb-4">
                                            <span class="text-primary progress-icon mr-3">65%</span>
                                            <div class="media-body">
                                                <p class="font-w500">طراحی</p>
                                                <div class="progress skill-progress" style="height:10px;">
                                                    <div class="progress-bar bg-primary progress-animated"
                                                         style="width: 65%; height:10px;"
                                                         role="progressbar">
                                                        <span class="sr-only">65% کامل</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="media mb-4">
                                            <span class="text-primary progress-icon mr-3">89%</span>
                                            <div class="media-body">
                                                <p class="font-w500">گرافیک</p>
                                                <div class="progress skill-progress" style="height:10px;">
                                                    <div class="progress-bar bg-primary progress-animated"
                                                         style="width: 89%; height:10px;"
                                                         role="progressbar">
                                                        <span class="sr-only">89% کامل</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6">
                                        <div class="media mb-4">
                                            <span class="text-primary progress-icon mr-3">94%</span>
                                            <div class="media-body">
                                                <p class="font-w500">طراحی دیتابیس</p>
                                                <div class="progress skill-progress" style="height:10px;">
                                                    <div class="progress-bar bg-primary progress-animated"
                                                         style="width: 94%; height:10px;"
                                                         role="progressbar">
                                                        <span class="sr-only">94% کامل</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% load static %}

{% block javascript %}

<!-- Chart piety plugin files -->
<!-- Apex Chart -->
<script src="{% static 'vendor/apexchart/apexchart.js' %}"></script>
<script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
<script src="{% static 'vendor/wnumb/wnumb.js' %}"></script>
<!-- Dashboard 1 -->
<script src="{% static 'js/dashboard/profile.js' %}"></script>

<script>
    $(document).ready(function () {
        $(".toogle-bx").click(function () {
            $(".toogle-bx").toggleClass("active");
        });
    });
</script>

{% endblock %}
{% endblock %}
