<!--pip install django-widget-tweaks-->
{% extends 'myapp/index.html' %}

 {% block content %}
{% load static %}
<div class="page-titles">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">اطلاعات فیش</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">لیست فیش</a></li>
                </ol>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <div class=" ml-0 ml-sm-4 ml-sm-0">
                                <div role="toolbar" class="toolbar ml-1 ml-sm-0">
                                    <div class="btn-group mb-1">
                                        <div class="custom-control custom-checkbox pl-2">
                                            <input type="checkbox" class="custom-control-input" id="checkAll">
                                            <label class="custom-control-label" for="checkAll"></label>
                                        </div>
                                    </div>
                                    <div class="btn-group mb-1">
                                        <button class="btn btn-primary light px-3" type="button"><i class="ti-reload"></i>
                                        </button>
                                    </div>
                                    <div class="btn-group mb-1">
                                        <button aria-expanded="false" data-toggle="dropdown" class="btn btn-primary px-3 light dropdown-toggle" type="button">بیشتر
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu"><a href="javascript: void(0);" class="dropdown-item">
                                            نشان خوانده نشده
                                        </a> <a href="javascript: void(0);" class="dropdown-item">اضافه کردن به کارها</a>
                                            <a href="javascript: void(0);" class="dropdown-item">امتیاز دهی</a> <a href="javascript: void(0);" class="dropdown-item">خاموش کردن</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-responsive-sm">
                                        <thead>
                                        <tr>
                                            <th class="align-middle">
                                                <div class="custom-control custom-checkbox ml-1">
                                                    <input type="checkbox" class="custom-control-input" id="checkAll">
                                                    <label class="custom-control-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th class="align-middle">کد</th>
                                            <th class="align-middle">کد ملی</th>

                                            <th class="align-middle minw200">کارکرد</th>
                                            <th class="align-middle">کارکرد روزانه</th>
                                            <th class="align-middle">کارکرد ماهانه</th>
                                            <th class="align-middle">بن</th>
                                            <th class="align-middle">مسکن</th>
                                            <th class="align-middle">اولاد</th>
                                            <th class="align-middle">نوبت</th>
                                            <th class="align-middle">پاداش</th>
                                            <th class="align-middle">اضافه کار</th>
                                            <th class="align-middle">سایر مزایا</th>
                                            <th class="align-middle">جمع ناخالص</th>
                                            <th class="align-middle">مالیات</th>
                                            <th class="align-middle">بیمه</th>
                                            <th class="align-middle">مساعده</th>
                                            <th class="align-middle">وام</th>
                                            <th class="align-middle">سایر کسورات</th>
                                            <th class="align-middle">جمع سایر</th>
                                            <th class="align-middle">خالص پرداختی</th>
                                            <th class="no-sort"></th>
                                        </tr>
                                        </thead>
                                        <tbody id="orders">
                                    {% include 'myapp/fish/partialFishList.html' %}
                                        </tbody>
                                    </table>
                                </div>

                                <!-- panel -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                                        <div class="col-12 pl-3">
                                            <nav>
                                                <ul class="pagination pagination-gutter pagination-primary pagination-sm no-bg">
                                                  {% if fishes.has_previous %}
                                                    <li class="page-item page-indicator"><a class="page-link" href="?page={{ fishes.previous_page_number }}"><i class="la la-angle-left"></i></a></li>
                                                    {% else %}
                                                    <li class="page-item page-indicator"><a class="page-link" href="#"><i class="la la-angle-left"></i></a></li>
                                                    {% endif %}
                                                      {% if fishes.has_next %}
                                                      <li class="page-item page-indicator"><a class="page-link" href="?page={{ fishes.next_page_number }}"><i class="la la-angle-right"></i></a></li>

                                                      {% else %}

                                                        <li class="page-item page-indicator"><a class="page-link" href="#"><i class="la la-angle-right"></i></a></li>
                                                      {% endif %}


                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
            </div>
            <div class="modal fade" id="modal-shekayat" style="overflow-y: scroll">
               <div class="modal-dialog  modal-lg ">

                 <div class="modal-content ">
                 </div>
               </div>
              </div>

{% load static %}

{% block javascript %}
  <script src="{% static '/js/project/fish.js' %}"></script>


{% endblock %}
{% endblock %}
