<!--pip install django-widget-tweaks-->
{% extends 'myapp/index.html' %}

 {% block content %}
{% load static %}


  <div class="container mt-5">
    <h2>بارگزاری مدارک</h2>
    <div id="fileuploaded" class="mt-3"></div>
    <div class="row" id="buttonsRow">
      <!-- Buttons will be dynamically added here -->
    </div>
    <div class="progress mt-3" style="display: none;">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <input type="hidden" id="code" value='{{cp}}' />
    
    <input type="hidden" id="code_meli" value='{{code_meli}}' />
    <input type="hidden" id="file_types" value='{{file_types}}' />
    <input type="hidden" id="files" value='{{files}}' />

    
    <div id="filePreviews" class="mt-3"></div>
    
  </div>
  <style>
    /* Custom CSS for image previews */
    #filePreviews,#fileuploaded {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .preview {
      max-width: 200px;
    }
    .image-container {
      position: relative;
      display: inline-block;
    }
    .remove-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: #fff;
      color: #f00;
      border-radius: 50%;
      font-size: 20px;
      cursor: pointer;
      padding: 4px 7px;
    }
  </style>
  <!-- Bootstrap JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Custom JavaScript -->
  <script>
    // Function to handle file selection and upload for each button
    function handleFileUpload(buttonValue,buttonType,btnName) {
      var fileInput = document.createElement('input');
      fileInput.type = 'file';
      fileInput.accept = 'image/*';

      fileInput.onchange = function(event) {
        var file = event.target.files[0];
        if (!file) {
          return;
        }

        var formData = new FormData();
        formData.append('file', file);
        // Replace 'YOUR_UPLOAD_URL_HERE' with the actual server-side endpoint to handle file upload
        var url = '/upload/?cp='+$("#code").val()+'&code_meli='+$("#code_meli").val()+'&btnType='+buttonType+'&btnName='+btnName;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', url, true);

        var progressBar = document.querySelector('.progress-bar');
        progressBar.style.width = '0%';
        progressBar.innerHTML = '0%';

        xhr.upload.onprogress = function(event) {
          var progress = Math.round((event.loaded / event.total) * 100);
          progressBar.style.width = progress + '%';
          progressBar.innerHTML = progress + '%';
        };

        xhr.onload = function(data) {
          progressBar.innerHTML = 'Upload complete!';
          progressBar.classList.remove('progress-bar-striped', 'progress-bar-animated');
          return_data=JSON.parse(xhr.responseText);
          createPreview(file, buttonValue,return_data.id);
          removeButton(buttonValue);
          
          
        };

        xhr.onerror = function() {
          alert('Error uploading the file. Please try again later.');
        };

        xhr.send(formData);
      };

      fileInput.click();
    }

    // Function to create preview for each uploaded image
    function createPreview(file,buttonValue,file_id) {
      var reader = new FileReader();
      var filePreviews = document.getElementById('filePreviews');
      var reader = new FileReader();

      reader.onload = function (event) {
        var previewDiv = document.createElement('div');
        previewDiv.className = 'col-lg-4';

        // Create the container for the image
        var imageContainer = document.createElement('div');
        imageContainer.className = 'image-container';
        var imageElement = document.createElement('img');
        imageElement.src = event.target.result;
        imageElement.className = 'img-thumbnail';
        imageElement.style.maxWidth = '200px';

        // Create the remove icon
        var removeIcon = document.createElement('span');
        removeIcon.className = 'remove-icon';
        
        removeIcon.onclick=remove_img;
        removeIcon.setAttribute("data-url", file_id);
        
        removeIcon.innerHTML = '<a href="#">&times;</a>';

        // Append the image and remove icon to the container
        imageContainer.appendChild(imageElement);
        imageContainer.appendChild(removeIcon);

        // Append the container to the preview div
        previewDiv.innerHTML = '<h5>' + buttonValue + ':</h5>';
        previewDiv.appendChild(imageContainer);

        filePreviews.appendChild(previewDiv);
      };

      reader.readAsDataURL(file);
    }
    //$(".remove-icon").on('click',function(){
     //alert(1);
    //});
    var remove_img=function(){
      //alert($(this).attr('data-url'));
      const element =$(this);
      const url=$(this).attr('data-url');
      
      return $.ajax({
        url:`/personel/files/${url}/remove` ,
        type: 'get',
        dataType: 'json',
        beforeSend: function () {
         
          
        },
        success: function (data) {
          if(data.file_is_valied)
          {
            
              element.parent().parent().remove();
              var buttonsRow = document.getElementById('buttonsRow');
              
                var button = document.createElement('button');
                button.type = 'button';
                button.className = 'btn btn-primary btn-block mr-2';
                button.textContent = 'dsadsadas';
                button.value = 'dsadsadsadsa';
                button.data_url='dsdsadsasda';
                button.onclick = function() {
                handleFileUpload(this.value,this.data_url,this.value);
                }
              
          
                buttonsRow.appendChild(button);




          }
          else{

          }
  
        }
      });
  
    };
    function createPreview2(files) {
      
        var filePreviews = document.getElementById('filePreviews');
        for(i in files){
        console.log(files[i]);
        var previewDiv = document.createElement('div');
        previewDiv.className = 'col-lg-4';

        // Create the container for the image
        var imageContainer = document.createElement('div');
        imageContainer.className = 'image-container';
        var imageElement = document.createElement('img');
        imageElement.src = '../media/'+files[i].msgFile;
        imageElement.className = 'img-thumbnail';
        imageElement.style.maxWidth = '200px';

        // Create the remove icon
        var removeIcon = document.createElement('span');
        removeIcon.className = 'remove-icon';
        removeIcon.onclick=remove_img;
        removeIcon.setAttribute("data-url", files[i].id);
        
        removeIcon.innerHTML = '<a href="#">&times;</a>';

        // Append the image and remove icon to the container
        imageContainer.appendChild(imageElement);
        imageContainer.appendChild(removeIcon);

        // Append the container to the preview div
        previewDiv.innerHTML = '<h5>'  + files[i].msgFileName+' :</h5>';
        previewDiv.appendChild(imageContainer);

        filePreviews.appendChild(previewDiv);
        }
      

      
    }

    // Function to remove the button after upload
    function removeButton(buttonValue) {
      var buttonsRow = document.getElementById('buttonsRow');
      var buttons = buttonsRow.getElementsByTagName('button');
      for (var i = 0; i < buttons.length; i++) {
        if (buttons[i].value == buttonValue) {
          buttons[i].remove();
          break;
        }
      }
    }
    var buttonsData = [
          { name: 'صفحه اول شناسنامه',type:1 },
          { name: 'صفحه دوم شناسنامه',type:2 },
          { name: 'صفحه انتهایی شناسنامه',type:3 },
          { name: 'صفحه اول شناسنامه همسر',type:4 },
          { name: 'صفحه اول شناسنامه فرزند',type:5 },
          { name: 'افزودن شناسنامه فرزند',type:6 },
          { name: 'Button G',type:7 },
          { name: 'Button H',type:8 },
          { name: 'Button I',type:9 },
          { name: 'Button J',type:10 }
        ];
    let valueString = $("#file_types").val();
    let valueArray = JSON.parse(valueString.replace(/'/g, '"'));
    //console.log(valueArray);
    buttonsData1 = buttonsData.filter(button => !valueArray.some(valueItem => valueItem.msgFiledtype === button.type));
    let valueStringfiles = $("#files").val();
    let valueArrayfiles = JSON.parse(valueStringfiles.replace(/'/g, '"'));
    //console.log(valueArrayfiles);
    createPreview2(valueArrayfiles);

    // Create 10 buttons dynamically
    var buttonsRow = document.getElementById('buttonsRow');
    for (var i = 0; i < buttonsData1.length; i++) {
      var button = document.createElement('button');
      button.type = 'button';
      button.className = 'btn btn-primary btn-block mr-2';
      button.textContent = buttonsData1[i].name;
      button.value = buttonsData1[i].name;
      button.data_url=buttonsData1[i].type;
      button.onclick = function() {
        handleFileUpload(this.value,this.data_url,this.value);
      };

      buttonsRow.appendChild(button);
    }
  </script>



{% endblock %}
