{% block menu %}

{% load static %}
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">

            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-television"></i>
                <span class="nav-text">کارتابل</span>
            </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'list_fish' %}">لیست فیش ها</a></li>
                    <li><a href="{% url 'fish_create'%}">ارسال فیش حقوقی</a></li>
                    <li><a href="{% url 'list_personel'%}">مشاهده پرسنل</a></li>
                    <li><a href="{% url 'show_hozur_calendar'%}">مشاهده حضور غیاب</a></li>
                    <li><a href="{% url 'list_personel_breif'%}">خلاصه وضعیت</a></li>
                    <li><a href="{% url 'list_personel_breif_all'%}">وضعیت تمامی خطها</a></li>



                </ul>
            </li>



        </ul>
        <div class="copyright">
            <p><strong></strong> تمام حقوق محفوظ است </p>
            <p>سرو رایان</p>
        </div>
    </div>
</div>

{% endblock %}
